[Unit]
Description=IdeaPad Auto Conservation Mode

[Service]
Type=simple
ExecStart=/home/alterwill/.local/bin/auto_conserve.sh
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

